

*{
    
    padding: 0;
    box-sizing: border-box;
}
.header{
      
    width: 100%;
}

.icon{
    width: 60px;
    
}
.btn-outline-light {
    letter-spacing: 0.05em;
  }

.nav-link{color: gray!important;}
.navbar-brand{color: white!important;}

.center{
    text-align: center;
    color: white;
    position: relative;
}


.typing{
    color: white;
    
    text-align: center;
    align-items: center;

}
.typeo{
    position: absolute;
    
    right: 460px;
}

.icon:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}
#target:hover {
    transform: scale(1.5);
}   

.instagram{
    width: 60px;

}
.instagram:hover{
    transform: scale(1.3);
    transition: all 0.3s linear;
    transform: all red linear;

    
}
