<div class="row">

    <h1>Proyectos Realizados</h1>
    <div class="content">
        <div class="col-sm-12 col-md-7 col-lg-7 s1">
            <h2>Proyecto integrador Codo a Codo</h2>
            <p>Proyecto Integrador de curso codo a codo 4.0, tiene implementacion de javascript, y bootstrap. Mi primer proyecto!</p>
            <a href="https://codoacodo-984006.netlify.app/" target="blank_">Ingresa Clickeando aca! o en la imagen.</a>
        </div>  
    
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 s2">
      <a href="https://codoacodo-984006.netlify.app/" target="blank_"><img src="../../../assets/Codoacodo.png" class="img-fluid img-codoacodo"  alt=""></a>
    </div>


<br><br><br>
    <div class="col-sm-12 col-md-7 col-lg-7 s1">
        <h2>Pokedex Pokemon API</h2>
        <p>Mini proyecto con API REST de Pokeapi</p>
        <a href="https://pokedexapila.netlify.app/" target="blank_" >Ingresa Clickeando aca! o en la imagen.</a>
    </div>  

<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 s2">
  <a href="https://pokedexapila.netlify.app/" target="blank_"><img src="../../../assets/Pokeapi.png" class="img-fluid img-codoacodo"  alt=""></a>
</div>
</div>
</div>