<div class="container1" *ngIf="skill">
    <a href="http://localhost:4200/" target="_blank"> <img src="../../../../assets/APLogo.png"  width="160" height="95" alt=""></a>

    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de la Skill</label>
                    <input type="text" class="form-control feedback-input " placeholder="Agregar habilidad"  name="nombre" id="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Ingrese el porcentaje</label>
                    <input type="text" placeholder="Agregar Porcentaje" class="form-control feedback-input textarea " name="porcentaje" id="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <button class="btn  btn-outline-warning">
                    Actualizar Skill
                </button>
            </form>
        </div>
    </div>