<div class="container1">
    <a href="http://localhost:4200/" target="_blank"> <img src="../../../../assets/APLogo.png"  width="160" height="95" alt=""></a>

    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nueva Skill</label>
                    <input type="text" class="form-control feedback-input" placeholder="Agregar habilidad"name="nombre" id="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control feedback-input textarea" placeholder="Agregar Porcentaje" name="porcentaje" id="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-outline-warning">
                    Agregar Skill
                </button>
            </form>
        </div>
    </div>
</div>